In [106]:
# 필요한 패키지 부르기
import pandas as pd
import datetime
import re

In [107]:
df = pd.read_csv('/Users/gunwook/Desktop/git_folder/데이터사이언스입문/data/first_model_data.csv')

In [108]:
# 필요없는 값 제거
del df['Unnamed: 0']
del df['song_id']

In [109]:
pd.set_option('display.max_columns', 999)

In [110]:
df.head()

,artist,name,previous_song_rank,st_day,X1,id,production,distributor,ed_day,score,rank,name_artist,장르,런타임,성별,활동유형,rank_g,year,month,day,wks,week,sex,song_type,genre,runtime,runtime_g,active_type,active,active_g,top_freq,top_freq_g,dc_t_number,dc_t_recommend,dc_t_views,dc_m_recommend,dc_m_views,gg_score,nv_score,ndc_t_numb,ndc_t_rec,ndc_t_view,season
0,(여자)아이들,LATATA,NaN,2018.5.6,235,235,큐브엔터테인먼트,카카오 M,2018.5.12,12149754,35,"(여자)아이들,LATATA",가요 / 댄스,3:23:00,여성,그룹,4,18,5,6,18,18_18,female,K_POP,Dance_etc,203,Middle,Group,Group,Non_solo,24,High,0,0,0,0.0,0.0,59.0,64.3,NaN,NaN,NaN,spring
1,(여자)아이들,LATATA,NaN,2018.5.13,319,319,큐브엔터테인먼트,카카오 M,2018.5.19,19604420,19,"(여자)아이들,LATATA",가요 / 댄스,3:23:00,여성,그룹,2,18,5,13,19,18_19,female,K_POP,Dance_etc,203,Middle,Group,Group,Non_solo,24,High,0,0,0,0.0,0.0,59.0,34.9,NaN,NaN,NaN,spring
2,(여자)아이들,LATATA,NaN,2018.5.20,416,416,큐브엔터테인먼트,카카오 M,2018.5.26,19342281,16,"(여자)아이들,LATATA",가요 / 댄스,3:23:00,여성,그룹,2,18,5,20,20,18_20,female,K_POP,Dance_etc,203,Middle,Group,Group,Non_solo,24,High,0,0,0,0.0,0.0,23.0,38.1,NaN,NaN,NaN,spring
3,(여자)아이들,LATATA,NaN,2018.5.27,512,512,큐브엔터테인먼트,카카오 M,2018.6.2,21249155,12,"(여자)아이들,LATATA",가요 / 댄스,3:23:00,여성,그룹,2,18,5,27,21,18_21,female,K_POP,Dance_etc,203,Middle,Group,Group,Non_solo,24,High,0,0,0,0.0,0.0,40.0,23.2,NaN,NaN,NaN,spring
4,(여자)아이들,LATATA,NaN,2018.6.3,614,614,큐브엔터테인먼트,카카오 M,2018.6.9,19646611,14,"(여자)아이들,LATATA",가요 / 댄스,3:23:00,여성,그룹,2,18,6,3,22,18_22,female,K_POP,Dance_etc,203,Middle,Group,Group,Non_solo,24,High,0,0,0,0.0,0.0,60.0,30.3,NaN,NaN,NaN,summer

In [111]:
# 유튜브 데이터 불러오기
df_youtube = pd.read_csv('/Users/gunwook/Desktop/git_folder/데이터사이언스입문/data/youtube.csv' )

In [75]:
df_youtube.head()

,주간,순위,song,name,lastweek_rank,지속기간,변경,조회수
0,20200417-20200423,1위,WANNABE,ITZY,지난주 #1,7 weeks,-9.5%,2.48M
1,20200417-20200423,2위,덤더럼 (Dumhdurum),에이핑크,지난주 #4,2 weeks,30.1%,2.1M
2,20200417-20200423,3위,돌덩이,하현우,지난주 #2,9 weeks,-16.4%,1.66M
3,20200417-20200423,4위,시작,가호,지난주 #5,11 weeks,-10.6%,1.38M
4,20200417-20200423,5위,아로하 (Aloha),Jo Jung-suk,지난주 #11,4 weeks,26.7%,1.32M

In [76]:
# 시작과 끝을 분리해준다.
week = df_youtube['주간'].str.split('-')
# 원래 데이터와 형태 맞춰주기 위해
# 그리고 유튜브 주기랑 가온차트 주기가 다르다. 
# 5를 빼주면 가온차트와 같아진다. 
start = []
end = []
for i in week:
    start.append(str(datetime.datetime.strptime(i[0],'%Y%m%d') - datetime.timedelta(days = 5))[0:10])
    end.append(str(datetime.datetime.strptime(i[1],'%Y%m%d') - datetime.timedelta(days = 5))[0:10])

In [77]:
# 원래 데이터와 형태 맞춰주기 위해
# 그리고 유튜브 주기랑 가온차트 주기가 다르다. 
# 5를 빼주면 가온차트와 같아진다. 
start = []
end = []
for i in week:
    start.append(str(datetime.datetime.strptime(i[0],'%Y%m%d') - datetime.timedelta(days = 5))[0:10])
    end.append(str(datetime.datetime.strptime(i[1],'%Y%m%d') - datetime.timedelta(days = 5))[0:10])

In [78]:
# 전처리한 값 추가
df_youtube['start'] = start
df_youtube['end'] = end

In [79]:
df_youtube.head()

,주간,순위,song,name,lastweek_rank,지속기간,변경,조회수,start,end
0,20200417-20200423,1위,WANNABE,ITZY,지난주 #1,7 weeks,-9.5%,2.48M,2020-04-12,2020-04-18
1,20200417-20200423,2위,덤더럼 (Dumhdurum),에이핑크,지난주 #4,2 weeks,30.1%,2.1M,2020-04-12,2020-04-18
2,20200417-20200423,3위,돌덩이,하현우,지난주 #2,9 weeks,-16.4%,1.66M,2020-04-12,2020-04-18
3,20200417-20200423,4위,시작,가호,지난주 #5,11 weeks,-10.6%,1.38M,2020-04-12,2020-04-18
4,20200417-20200423,5위,아로하 (Aloha),Jo Jung-suk,지난주 #11,4 weeks,26.7%,1.32M,2020-04-12,2020-04-18

In [80]:
# song과 날짜로 합칠거라서 song 전처리 해준다 
# 이유: 이름이 다른 사람들이 존재 ex) 조정석 == Jo Jung-suk
song = []
for i in df_youtube['song']:
    a = re.split('[(-)]+' ,i)[0]
    song.append(a.strip())

In [81]:
df_youtube['song'] = song

In [82]:
df_youtube.head()

,주간,순위,song,name,lastweek_rank,지속기간,변경,조회수,start,end
0,20200417-20200423,1위,WANNABE,ITZY,지난주 #1,7 weeks,-9.5%,2.48M,2020-04-12,2020-04-18
1,20200417-20200423,2위,덤더럼,에이핑크,지난주 #4,2 weeks,30.1%,2.1M,2020-04-12,2020-04-18
2,20200417-20200423,3위,돌덩이,하현우,지난주 #2,9 weeks,-16.4%,1.66M,2020-04-12,2020-04-18
3,20200417-20200423,4위,시작,가호,지난주 #5,11 weeks,-10.6%,1.38M,2020-04-12,2020-04-18
4,20200417-20200423,5위,아로하,Jo Jung-suk,지난주 #11,4 weeks,26.7%,1.32M,2020-04-12,2020-04-18

In [83]:
# 유튜브에 없는 데이터도 있는 것 확인
df_youtube[df_youtube['song'] == '사랑에 연습이 있었다면']

Empty DataFrame
Columns: [주간, 순위, song, name, lastweek_rank, 지속기간, 변경, 조회수, start, end]
Index: []

In [84]:
# 필요없는 값 제거
df_for_merge = df_youtube.drop(columns = ['주간','lastweek_rank','지속기간','변경','name'])

In [92]:
# 이름 변경
df_you = df_for_merge.rename(columns = {'start':'st_day', 'end':'ed_day','song':'name'})

In [98]:
df_you

,순위,name,조회수,st_day,ed_day
0,1위,WANNABE,2.48M,2020-04-12,2020-04-18
1,2위,덤더럼,2.1M,2020-04-12,2020-04-18
2,3위,돌덩이,1.66M,2020-04-12,2020-04-18
3,4위,시작,1.38M,2020-04-12,2020-04-18
4,5위,아로하,1.32M,2020-04-12,2020-04-18
...,...,...,...,...,...
10395,96위,야생화,166K,2018-04-22,2018-04-28
10396,97위,북,165K,2018-04-22,2018-04-28
10397,98위,DINOSAUR,163K,2018-04-22,2018-04-28
10398,99위,"Not Spring, Love, or Cherry Blossoms",162K,2018-04-22,2018-04-28
10399,100위,스물셋,162K,2018-04-22,2018-04-28

In [99]:
a = []
for i in df_you['st_day']:
    a.append(i.split('-'))

In [100]:
year = []
day = []
month = []
for i in range(0,len(a)):
    years = int(a[i][0][2:4])
    months = int(a[i][1].replace('0',''))
    days = int(a[i][2])
    year.append(years)
    month.append(months)
    day.append(days)

In [101]:
df_you['year'] = year
df_you['month'] = month
df_you['day'] = day

In [102]:
df_you

,순위,name,조회수,st_day,ed_day,year,month,day
0,1위,WANNABE,2.48M,2020-04-12,2020-04-18,20,4,12
1,2위,덤더럼,2.1M,2020-04-12,2020-04-18,20,4,12
2,3위,돌덩이,1.66M,2020-04-12,2020-04-18,20,4,12
3,4위,시작,1.38M,2020-04-12,2020-04-18,20,4,12
4,5위,아로하,1.32M,2020-04-12,2020-04-18,20,4,12
...,...,...,...,...,...,...,...,...
10395,96위,야생화,166K,2018-04-22,2018-04-28,18,4,22
10396,97위,북,165K,2018-04-22,2018-04-28,18,4,22
10397,98위,DINOSAUR,163K,2018-04-22,2018-04-28,18,4,22
10398,99위,"Not Spring, Love, or Cherry Blossoms",162K,2018-04-22,2018-04-28,18,4,22
10399,100위,스물셋,162K,2018-04-22,2018-04-28,18,4,22

In [130]:
# 유튜브와 합치기
a = pd.merge(df,df_you,on=['st_day','ed_day','name'],how = 'left')

In [131]:
# 필요 없는 값 제거
del a['id']

In [132]:
# NA값 0으로 처리
a['순위'] = a['순위'].fillna(0)
a['조회수'] = a['조회수'].fillna(0)

In [141]:
순위 = []
조회수 = []
# 조회수 전처리
for i in a['조회수']:
    if i == 0:
        조회수.append(0)
    elif i != 0:
        if 'M' in i:
            b = i.replace('M','00000')
            if '.' in b:
                b = b.replace('.','')
            조회수.append(int(b))
        elif 'K' in i:
            b = i.replace('K','0000')
            if '.' in b:
                b = b.replace('.','')
            조회수.append(int(b))

# 순위 전처리
for i in a['순위']:
    if i == 0:
        순위.append(i)
    elif i != 0:
        i = i.replace('위','')
        순위.append(int(i))

In [145]:
a['순위'] = 순위
a['조회수'] = 조회수
a = a.rename(columns = {'순위':'you_rank'})

In [146]:
a.head()

,name,production,distributor,artist,st_day,wks,ed_day,year,month,day,score,rank,num,runtime,runtime_g,sex,genre,type,gen,genre_g,active_type,active_type_g,gg_score,song_freq,song_freq_g,you_rank,조회수
0,사랑에 연습이 있었다면,"엔에스씨컴퍼니, 디원미디어",카카오 M,임재현,2019-06-02,1906_1wk,2019-06-08,19,6,2,44009459,1,1,256,Long,male,가요 / 발라드,K_POP,발라드,Balad_etc,Solo,Solo,53.0,31,High,0,0
1,누구 없소,YG Entertainment,YG Plus,이하이,2019-06-02,1906_1wk,2019-06-08,19,6,2,43074538,2,1,195,Short,female,가요 / 댄스,K_POP,댄스,Dance_etc,Solo,Solo,100.0,19,High,10,9740000
2,2002,Atlantic Records UK,Warner Music,Anne-Marie,2019-06-02,1906_1wk,2019-06-08,19,6,2,41877109,3,1,187,Short,female,POP / 팝,POP,팝,Others,Solo,Solo,48.0,31,High,1,30800000
3,너에게 못했던 내 마지막 말은,Stone Music Entertainment,지니뮤직,다비치,2019-06-02,1906_1wk,2019-06-08,19,6,2,38165624,4,1,268,Long,female,가요 / 발라드,K_POP,발라드,Balad_etc,Duet,Non_solo,75.0,31,High,0,0
4,bad guy,"Darkroom, Interscope Records",Universal Music,Billie Eilish,2019-06-02,1906_1wk,2019-06-08,19,6,2,33544212,5,1,194,Short,female,POP / 락,POP,락,Dance_etc,Solo,Solo,54.0,31,High,3,14500000

In [147]:
a.to_csv('유튜브 합침.csv')